Hallo {request.firstName} {request.lastName},
<br><br>
danke für deine Anfrage!
<br><br>
Deine Daten
------------
<f:for each="{orderInformation}" key="key" as="obj"><f:spaceless>
        <f:switch expression="{key}">
            <f:case value="course">Kurse:{obj.title}</f:case>
            <f:case value="location">Location:{obj.location.title}</f:case>
            <f:case value="accommodation">accommodation:{obj.accommodation.title}</f:case>
            <f:case value="transfer">transfer:{obj.transfer.title}</f:case>
            <f:case value="exam">exam:{obj.exam.title}</f:case>
            <f:case value="range">range:{obj.value}</f:case>
            <f:case default="true">objekt {key} noch nicht implementiert.<f:debug inline="1">{obj}</f:debug></f:case>
        </f:switch></f:spaceless><br>
</f:for>
