{js -> f:format.raw()}
<div class="row">

	<div class="col-md-4">
		<h3>Filter</h3>
		<div class="form-group">
			<h4>Kurs</h4>
			<f:form.select id="title_filter" options="{courseTitles}" class="form-control" prependOptionLabel="" prependOptionValue="all" />
		</div>

		<f:for each="{facets}" as="data" key="label">

			<h4><f:translate key="facet.{label}" default="{label}" /></h4>
			<ul id="{label}_filter">
				<f:for each="{data}" as="item">
					<div class="checkbox">
						<label> <input type="checkbox" value="{item}"> {item}</label>
					</div>
				</f:for>
			</ul>
		</f:for>
	</div>
	<div class="col-md-8">
		<h3>Results</h3>
		<div id="start-information">
			<div class="alert alert-info">
				<strong>Please select a filter</strong> See all relevant information after using at least one filter!
			</div>
		</div>
		<div id="service_list" style="display: none"></div>
	</div>
</div>

<script id="template" type="text/html">
	<div class="col-md-4 movie">
		<div class="thumbnail">
			<div class="caption">
				<h4><%= title %> in <%= location %></h4>
				<ul>
					<li>Accommodation:
						<ul><% for(var i in accommodation) { %>
							<li><%= accommodation[i] %></li>
							<% } %>
						</ul>
					</li>
					<li>Food:
						<ul><% for(var i in food) { %>
							<li><%= food[i] %></li>
							<% } %>
						</ul>
					</li>
					<li>Price: <%= basePrice %></li>
					<li><img class="img-responsive" src="<%= firstImage %>" /></li>
				</ul>
			</div>
			<a href="<%= link %>">Details</a>
		</div>
	</div>
</script>
