{namespace course=GeorgRinger\Courses\ViewHelpers}
<f:layout name="Default" />


<f:section name="main">
	<h1>{course.title} in {location.location.title}</h1>
		Total price: {totalPrice -> f:format.currency()}


	<f:format.html>{location.description}</f:format.html>
	<f:form action="show" object="{demand}" name="demand" id="orderform">
		<f:form.hidden property="course" />
		<f:form.hidden property="location" />

		<h3>Must have criteria</h3>
		<div class="row">
			<div class="col-md-4">
				<div style="border:1px solid #ccc;padding:3px;margin:3px">
				    <h4>Datum</h4>
					<f:if condition="{demand.startDate}">
						<f:then>
							{demand.startDate}
							<f:form.hidden property="startDate" id="hidden-startDate" />
							<a href="#" class="remove-attribute" data-field="startDate">Entfernen</a>
						</f:then>
						<f:else>
							<f:if condition="{location.allowedDates}">
								<f:then>
									<f:form.select property="startDate" options="{location.allowedDatesInFuture}" />
								</f:then>
								<f:else>
									<f:form.textfield class="date-field" property="startDate" />
									<p>Nur Montags</p>
								</f:else>
							</f:if>
						</f:else>
					</f:if>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>anreise tag davor
								<f:form.checkbox property="arrivalOneDayBefore"  value="1" class="form-control" /></label>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>abreise tag danach
									<f:form.checkbox property="departureOneDayAfter"  value="1" class="form-control" /></label>
							</div>
						</div>
					</div>
                </div>

			</div>
			<div class="col-md-4">
				<div style="border:1px solid #ccc;padding:3px;margin:3px">
				<f:if condition="{accommodation}">
					<f:then>
						<h4>Unterkunft</h4>
						mit {accommodation.accommodation.title} um {accommodation.price -> f:format.currency(currencySign:'€',prependCurrency:1)}
						<br>
						<f:form.hidden property="accommodation" id="hidden-accomodation" />
						<a href="#" class="remove-attribute" data-field="accomodation">Entfernen</a>
					</f:then>
					<f:else>

							<h4>Folgende Unterkünfte stehen zur Verfügung</h4>
							Bitte wählen Sie
							<course:select property="accommodation" options="{location.accommodations}" optionValueField="uid" optionLabelFields="{0:'accommodation.title',1:'price'}" prependOptionLabel="" prependOptionValue="" />
					</f:else>
				</f:if>
					<br>
					Range:
					<f:if condition="{demand.range}">
						<f:then>
							<f:if condition="{demand.accommodationRange}">
								<f:then>
									<f:form.select property="accommodationRange" options="{accommodationRanges}"  prependOptionLabel="" prependOptionValue=""/>
								</f:then>
								<f:else>
									<f:form.select property="accommodationRange" options="{accommodationRanges}"  prependOptionLabel="" prependOptionValue=""/>
								</f:else>
							</f:if>
						</f:then>
						<f:else>
							<div class="alert alert-info">
								bitte zuerst die allgemeine Dauer wählen</div>
						</f:else>
					</f:if>
				</div>
			</div>

			<div class="col-md-4">
				<f:if condition="{food}">
					<f:then>
						<h4>Verpflegung</h4>
						mit {food.food.title} um {food.price -> f:format.currency(currencySign:'€',prependCurrency:1)}
						<br>
						<f:form.hidden property="food" id="hidden-food" />
						<a href="#" class="remove-attribute" data-field="food">Entfernen</a>
					</f:then>
					<f:else>
						<div style="border:1px solid #ccc;padding:3px;margin:3px">
							<h4>Folgende Verpflegungsarten stehen zur Verfügung</h4>
							Bitte wählen Sie
							<course:select property="food" options="{location.foods}" optionValueField="uid" optionLabelFields="{0:'food.title',1:'price'}" prependOptionLabel="" prependOptionValue="" />
						</div>
					</f:else>
				</f:if>
			</div>
		</div>

		<h3>Optional</h3>
		<div class="row">
			<div class="col-md-4">
				<div style="border:1px solid #ccc;padding:3px;margin:3px">
					<div class="row">
						<div class="col-md-6">
							<f:if condition="{transfer}">
								<f:then>
									<h4>Transfer</h4>
									mit {transfer.transfer.title} um {transfer.price -> f:format.currency(currencySign:'€',prependCurrency:1)}
									<br>
									<f:form.hidden property="transfer"  id="hidden-transfer" />
									<a href="#" class="remove-attribute" data-field="transfer">Entfernen</a>
								</f:then>
								<f:else>
									<h4>Folgende Transferarten stehen zur Verfügung (Preis für 1 Strecke)</h4>
									Bitte wählen Sie
									<course:select property="transfer" options="{location.transfers}" optionValueField="uid" optionLabelFields="{0:'transfer.title',1:'price'}" prependOptionLabel="" prependOptionValue="" />
								</f:else>
							</f:if>
						</div>
						<div class="col-md-6">
							<f:if condition="{transfer}">
								<f:then>
									<f:if condition="{demand.transferMode}">
										<f:then>
											<h4>Transfermodus</h4>
											{demand.transferMode}
											<f:form.hidden property="transferMode"  id="hidden-transferMode" />
											<a href="#" class="remove-attribute" data-field="transferMode">Entfernen</a>
										</f:then>
										<f:else>
											<h4>Transfer</h4>
											<f:form.select property="transferMode" options="{1:'Beide', 2:'Nur hin', 3:'Nur zurück'}" />
										</f:else>
									</f:if>
								</f:then>
							</f:if>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<f:if condition="{exam}">
					<f:then>
						<h4>Prüfung</h4>
						mit {exam.exam.title} um {exam.price -> f:format.currency(currencySign:'€',prependCurrency:1)}
						<br>
						<f:form.hidden property="exam"  id="hidden-exam" />
						<a href="#" class="remove-attribute" data-field="exam">Entfernen</a>
					</f:then>
					<f:else>
						<div style="border:1px solid #ccc;padding:3px;margin:3px">
							<h4>Folgende Prüfungen stehen zur Verfügung</h4>
							Bitte wählen Sie
							<course:select property="exam" options="{course.exams}" optionValueField="uid" optionLabelFields="{0:'exam.title',1:'price'}" prependOptionLabel="" prependOptionValue="" />
						</div>
					</f:else>
				</f:if>
			</div>
			<div class="col-md-4">
				<f:if condition="{range}">
					<f:then>
						<h4>Range</h4>
						<f:switch expression="{range.mode}">
							<f:case value="1">
								<f:translate key="mode.1" default="%s Woche(n)" arguments="{0:range.value}" />
								: {range.price -> f:format.currency(currencySign:'€',prependCurrency:1)}
							</f:case>
							<f:case value="2">
								<f:translate key="mode.2" />
								: {range.price -> f:format.currency(currencySign:'€',prependCurrency:1)}
							</f:case>
							<f:case value="3">
								<f:translate key="mode.3" />
								: {range.price -> f:format.currency(currencySign:'€',prependCurrency:1)}
							</f:case>
							<f:case default="TRUE">
								<div class="alert alert-danger">not implemented yet</div>
							</f:case>
						</f:switch>
						<br>
						<course:select property="range" options="{course.ranges}" optionValueField="uid" optionLabelFields="{0:'value',1:'price'}" prependOptionLabel="" prependOptionValue="" />

						<a href="#" class="remove-attribute" data-field="range">Entfernen</a>
					</f:then>
					<f:else>
						<div style="border:1px solid #ccc;padding:3px;margin:3px">
							<h4>Folgende Ranges</h4>
							Bitte wählen Sie
							<course:select property="range" options="{course.ranges}" optionValueField="uid" optionLabelFields="{0:'value',1:'price'}" prependOptionLabel="" prependOptionValue="" />
						</div>
					</f:else>
				</f:if>
			</div>

		</div>

		<f:form.submit value="Aktualisieren" />
	</f:form>
	<hr>
    <div class="row">
        <div class="col-md-6">
            <div class="alert alert-info">
                <strong>Jetzt buchen</strong><br>
                <f:link.action controller="Order" action="new" arguments="{hash:hash,extras:{departureOneDayAfter:demand.departureOneDayAfter,arrivalOneDayBefore:demand.arrivalOneDayBefore,startDate:demand.startDate,transferMode:demand.transferMode,accommodationRange:demand.accommodationRange}}">hier klicken</f:link.action>
            </div>
        </div>
        <div class="col-md-6">
            <div class="alert alert-info">
                <strong>Jetzt anfragen</strong><br>
                <f:link.action controller="Request" action="new" arguments="{hash:hash,extras:{departureOneDayAfter:demand.departureOneDayAfter,arrivalOneDayBefore:demand.arrivalOneDayBefore,startDate:demand.startDate,transferMode:demand.transferMode,accommodationRange:demand.accommodationRange}}">hier klicken</f:link.action>
            </div>

        </div>
    </div>

	<script type="text/javascript">
        $('a.remove-attribute').click(function(event) {
            event.preventDefault();

            $('#hidden-' + $(this).data('field')).val('');

            $('#orderform').trigger('submit');
        });
	</script>

</f:section>
