<f:layout name="Default" />

<f:section name="main">
	<h1>New Order</h1>

	<f:flashMessages />

	<f:render partial="Order/Info" arguments="{orderInformation:orderInformation}" />
	<f:render partial="FormErrors" arguments="{object:Order}" />

	<f:form action="validate" name="order" object="{order}">

		<div style="display: none">
			<f:form.hidden property="hash" />
			<f:form.hidden property="transferMode" />
			<f:form.hidden property="accommodationRange" />
			<f:form.hidden property="arrivalOneDayBefore" />
			<f:form.hidden property="departureOneDayAfter" />
		</div>
		<div class="row">
			<div class="col-md-2">
				<f:render partial="Fields/Input" arguments="{property:'startDate',type:'date',required:1}" />
			</div>
			<div class="col-md-2">
				<f:render partial="Fields/Select" arguments="{property:'salutation',required:1,options:'{m:\'Herr\',f:\'Frau\'}'}" />
			</div>
			<div class="col-md-4">
				<f:render partial="Fields/Input" arguments="{property:'firstName',required:1}" />
			</div>
			<div class="col-md-4">
				<f:render partial="Fields/Input" arguments="{property:'lastName',required:1}" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<f:render partial="Fields/Input" arguments="{property:'company'}" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<f:render partial="Fields/Input" arguments="{property:'zip',required:1}" />
			</div>
			<div class="col-md-3">
				<f:render partial="Fields/Input" arguments="{property:'city',required:1}" />
			</div>
			<div class="col-md-3">
				<f:render partial="Fields/Input" arguments="{property:'street',required:1}" />
			</div>
			<div class="col-md-4">
				<f:render partial="Fields/Input" arguments="{property:'country',required:1}" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<f:render partial="Fields/Input" arguments="{property:'nationality',required:1}" />
			</div>
			<div class="col-md-4">
				<f:render partial="Fields/Input" arguments="{property:'birthday',required:1}" />
			</div>
			<div class="col-md-4">
				<f:render partial="Fields/Input" arguments="{property:'passportNumber',required:1}" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<f:render partial="Fields/Input" arguments="{property:'telephone'}" />
			</div>
			<div class="col-md-4">
				<f:render partial="Fields/Input" arguments="{property:'email',required:1}" />
			</div>
			<div class="col-md-4">
				<f:render partial="Fields/Check" arguments="{property:'visaRequired'}" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<f:render partial="Fields/Check" arguments="{property:'learnedGerman'}" />
			</div>
			<div class="col-md-3">
				<f:render partial="Fields/Select" arguments="{property:'germanLevel',options:'{
				1:\'{f:translate(key:\"germanLevel.1\")}\',
				2:\'{f:translate(key:\"germanLevel.2\")}\',
				3:\'{f:translate(key:\"germanLevel.3\")}\',
				4:\'{f:translate(key:\"germanLevel.4\")}\',
				5:\'{f:translate(key:\"germanLevel.5\")}\',
				6:\'{f:translate(key:\"germanLevel.6\")}\',
				7:\'{f:translate(key:\"germanLevel.7\")}\'

				}'}" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<f:render partial="Fields/Check" arguments="{property:'previousCourse'}" />
			</div>
			<div class="col-md-4">
				<f:render partial="Fields/Select" arguments="{property:'previousCourseLocation',options:'{
				1:\'{f:translate(key:\"previousCourseLocation.1\")}\',
				2:\'{f:translate(key:\"previousCourseLocation.2\")}\',
				3:\'{f:translate(key:\"previousCourseLocation.3\")}\',
				4:\'{f:translate(key:\"previousCourseLocation.4\")}\'
				}'}" />
			</div>
			<div class="col-md-4">
				<f:render partial="Fields/Input" arguments="{property:'previousCourseYear'}" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<f:render partial="Fields/Select" arguments="{property:'correspondenceLanguage',required:1,options:'{
				de:\'{f:translate(key:\"language.de\")}\',
				en:\'{f:translate(key:\"language.en\")}\'
				}'}" />
			</div>
			<div class="col-md-3">
				<f:render partial="Fields/Input" arguments="{property:'allergies'}" />
			</div>
			<div class="col-md-3">
				<f:render partial="Fields/Check" arguments="{property:'smoker'}" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<f:render partial="Fields/Select" arguments="{property:'knownFrom',options:'{
				1:\'{f:translate(key:\"knownFrom.1\")}\',
				2:\'{f:translate(key:\"knownFrom.2\")}\',
				3:\'{f:translate(key:\"knownFrom.3\")}\',
				4:\'{f:translate(key:\"knownFrom.4\")}\',
				5:\'{f:translate(key:\"knownFrom.5\")}\'
				}'}" />
			</div>
			<div class="col-md-3">
				<f:render partial="Fields/Select" arguments="{property:'paymentType',options:'{
				1:\'{f:translate(key:\"paymentType.1\")}\',
				2:\'{f:translate(key:\"paymentType.2\")}\'
				}'}" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<f:render partial="Fields/Check" arguments="{property:'insurance'}" />
			</div>
			<div class="col-md-3">
				<f:render partial="Fields/Input" arguments="{property:'insuranceStart'}" />
			</div>
			<div class="col-md-3">
				<f:render partial="Fields/Input" arguments="{property:'insuranceEnd'}" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-md-offset-3">
				<f:render partial="Fields/Input" arguments="{property:'dateArrival'}" />
			</div>
			<div class="col-md-3">
				<f:render partial="Fields/Input" arguments="{property:'dateDeparture'}" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<f:render partial="Fields/Check" arguments="{property:'agb',required:1}" />
			</div>
            <div class="col-md-3">
                <f:render partial="Fields/Check" arguments="{property:'privacy',required:1}" />
            </div>
		</div>
        <div class="row">
            <div class="col-md-3">
                <f:render partial="Fields/Text" arguments="{property:'additionalInformation'}" />
            </div>
        </div>


        <f:form.submit class="btn btn-default" value="Abschicken" />
	</f:form>
</f:section>
