<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="salutation">
	<f:translate key="tx_courses_domain_model_request.salutation" />
</label><br />
	<f:form.textfield property="salutation" /><br />
<label for="firstName">
	<f:translate key="tx_courses_domain_model_request.first_name" />
</label><br />
	<f:form.textfield property="firstName" /><br />
<label for="lastName">
	<f:translate key="tx_courses_domain_model_request.last_name" />
</label><br />
	<f:form.textfield property="lastName" /><br />
<label for="telephone">
	<f:translate key="tx_courses_domain_model_request.telephone" />
</label><br />
	<f:form.textfield property="telephone" /><br />
<label for="country">
	<f:translate key="tx_courses_domain_model_request.country" />
</label><br />
	<f:form.textfield property="country" /><br />
<label for="email">
	<f:translate key="tx_courses_domain_model_request.email" />
</label><br />
	<f:form.textfield property="email" /><br />
</html>