<div class="form-group">
	<label for="field-{property}">
		<f:translate key="tx_courses_domain_model_order.{property}" default="{property}" />
		{f:if(condition:required,then:'<span>*</span>')}</label>
	<f:if condition="{required}">
		<f:then>
			<f:form.checkbox property="{property}" additionalAttributes="{required:'required'}"  id="field-{property}" value="ja" class="form-control" />
		</f:then>
		<f:else>
			<f:form.checkbox property="{property}" id="field-{property}" value="ja" class="form-control" />
		</f:else>
	</f:if>

</div>