{namespace course=GeorgRinger\Courses\ViewHelpers}

<div class="form-group {course:form.ifHasErrors(for: 'order.{property}', then: 'has-error')}" id="container-{property}">
	<f:if condition="{type} == 'date'">
		<f:then>
			<label for="field-{property}">
				<f:translate key="tx_courses_domain_model_order.{property}" default="{property}" />
				{f:if(condition:required,then:'<span>*</span>')}</label>
			<f:form.textfield property="{property}" class="form-control date-field" required="{required}" id="field-{property}" additionalAttributes="{additionalAttributes}" />
		</f:then>
		<f:else>
			<label for="field-{property}">
				<f:translate key="tx_courses_domain_model_order.{property}" default="{property}" />
				{f:if(condition:required,then:'<span>*</span>')}</label>
			<f:form.textfield type="{f:if(condition:type,then:type,else:'text')}" property="{property}" class="form-control" required="{required}" id="field-{property}" additionalAttributes="{additionalAttributes}" />
		</f:else>
	</f:if>


    <f:form.validationResults for="order.{property}">
        <f:if condition="{validationResults.flattenedErrors}">
            <div class="help-block">
                <ul>
                    <f:for each="{validationResults.flattenedErrors}" key="propertyPath" as="errors">
                        <f:for each="{errors}" as="error">
                            <li>{error}</li>
                        </f:for>
                    </f:for>
                </ul>
            </div>
        </f:if>
    </f:form.validationResults>
</div>