<div class="form-group">
	<label for="field-{property}">
		<f:translate key="tx_courses_domain_model_order.{property}" default="{property}" />
		{f:if(condition:required,then:'<span>*</span>')}
	</label>
	<f:if condition="{required}">
		<f:then>
			<f:form.select property="{property}" class="form-control" id="field-{property}" options="{options}" additionalAttributes="{required:'required'}" prependOptionLabel="" prependOptionValue="" />
		</f:then>
		<f:else>
			<f:form.select property="{property}" class="form-control" id="field-{property}" options="{options}" prependOptionLabel="" prependOptionValue="" />
		</f:else>
	</f:if>
</div>