<f:if condition="{course}">
    <f:then>
        <f:link.action pageUid="6" action="show" controller="Form" arguments="{course:course,location:location}" class="btn btn-primary">{course.title} in {location.location.title}</f:link.action>
    </f:then>
    <f:else>
        <div class="alert alert-danger">No course found</div>
    </f:else>
</f:if>