{js -> f:format.raw()}
<div class="row">

	<div class="col-md-4">
		<h3>Filter</h3>

		<f:for each="{facets}" as="data" key="label">

			<h4>{label}</h4>
			<ul id="{label}_filter">
				<f:for each="{data}" as="item">
					<div class="checkbox">
						<label> <input type="checkbox" value="{item}"> {item}</label>
					</div>
				</f:for>
			</ul>
		</f:for>
	</div>
	<div class="col-md-8">
		<h3>Results</h3>
		<div id="service_list"></div>
	</div>
</div>

<script id="template" type="text/html">
	<div class="col-md-4 movie">
		<div class="thumbnail">
			<div class="caption">
				<h4><%= _fid %>. <%= title %></h4>
				<ul>
					<li>Accomodation: <%= accommodation %></li>
					<li>Location: <%= location %></li>
				</ul>
			</div>
		</div>
	</div>
</script>
