<f:layout name="Default" />


<f:section name="main">
	<h1>{course.title}</h1>
	<div class="row">
		<f:for each="{course.locations}" as="location">
			<div class="col-md-6">
				<h3>{location.location.title}</h3>


				<f:if condition="{location.foods}">
					<div style="border:1px solid #ccc;padding:3px;margin:3px">
						<h4>foods</h4>
						<f:for each="{location.foods}" as="food">
							<div style="border:1px dashed #eee">
								<h5>{food.food.title}</h5>
								Preis: {food.price}
							</div>
						</f:for>
					</div>
				</f:if>

				<f:if condition="{location.accommodations}">
					<div style="border:1px solid #ccc;padding:3px;margin:3px">
						<h4>Accommodation</h4>
						<f:for each="{location.accommodations}" as="accommodation">
							<div style="border:1px dashed #eee">
								<h5>{accommodation.accommodation.title}</h5>
								Preis: {accommodation.price}
							</div>
						</f:for>
					</div>
				</f:if>
			</div>
		</f:for>
	</div>
</f:section>