
<table class="tx-courses" >
	<tr>
		<td>
			<f:translate key="tx_courses_domain_model_course.title" />
		</td>
		<td>
		{course.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_courses_domain_model_course.insurance" />
		</td>
		<td>
		{course.insurance}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_courses_domain_model_course.courier_service" />
		</td>
		<td>
		{course.courierService}
		</td>
	</tr>
</table>