
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Range</h1>

<f:flashMessages />

<table  class="tx_courses" >
	<tr>
		<th><f:translate key="tx_courses_domain_model_range.mode" /></th>
		<th><f:translate key="tx_courses_domain_model_range.value" /></th>
		<th><f:translate key="tx_courses_domain_model_range.price" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{ranges}" as="range">
		<tr>
			<td><f:link.action action="show" arguments="{range : range}"> {range.mode}</f:link.action></td>
			<td><f:link.action action="show" arguments="{range : range}"> {range.value}</f:link.action></td>
			<td><f:link.action action="show" arguments="{range : range}"> {range.price}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{range : range}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{range : range}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Range</f:link.action>
</f:section>