<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<f:section name="main">
    <h1>New Request</h1>

    <f:flashMessages/>


    <f:render partial="Order/Info" arguments="{orderInformation:orderInformation}"/>


    <f:render partial="FormErrors" arguments="{object:Request}"/>

    <f:form action="create" name="request" object="{request}">
        <div style="display: none">
            <f:form.hidden property="hash"/>
            <f:form.hidden property="transferMode"/>
            <f:form.hidden property="accommodationRange"/>
            <f:form.hidden property="arrivalOneDayBefore"/>
            <f:form.hidden property="departureOneDayAfter"/>
        </div>

        <div class="row">
            <div class="col-md-2">
                <f:render partial="Fields/Select"
                          arguments="{property:'salutation',required:1,options:'{m:\'Herr\',f:\'Frau\'}'}"/>
            </div>
            <div class="col-md-4">
                <f:render partial="Fields/Input" arguments="{property:'firstName',required:1}"/>
            </div>
            <div class="col-md-4">
                <f:render partial="Fields/Input" arguments="{property:'lastName',required:1}"/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <f:render partial="Fields/Input" arguments="{property:'country',required:0}"/>
            </div>
            <div class="col-md-4">
                <f:render partial="Fields/Input" arguments="{property:'telephone',required:0}"/>
            </div>
            <div class="col-md-4">
                <f:render partial="Fields/Input" arguments="{property:'email',required:0}"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <f:render partial="Fields/Check" arguments="{property:'privacy',required:1}" />
            </div>
        </div>
        <f:form.submit class="btn btn-primary" value="Abschicken"/>
    </f:form>
</f:section>
</html>
