{namespace course=GeorgRinger\Courses\ViewHelpers}
<h3>Your request was successful!</h3>

<f:debug inline="1">{request}</f:debug>

<course:jsonIdCheck json="{request.course}" id="3">
    <f:then>
        xxx
    </f:then>
    <f:else>
        yyyy
    </f:else>
</course:jsonIdCheck>
