<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="firstName">
	<f:translate key="tx_courses_domain_model_order.first_name" />
</label><br />
	<f:form.textfield property="firstName" /><br />
<label for="lastName">
	<f:translate key="tx_courses_domain_model_order.last_name" />
</label><br />
	<f:form.textfield property="lastName" /><br />
<label for="salutation">
	<f:translate key="tx_courses_domain_model_order.salutation" />
</label><br />
	<f:form.textfield property="salutation" /><br />
<label for="company">
	<f:translate key="tx_courses_domain_model_order.company" />
</label><br />
	<f:form.textfield property="company" /><br />
<label for="street">
	<f:translate key="tx_courses_domain_model_order.street" />
</label><br />
	<f:form.textfield property="street" /><br />
<label for="zip">
	<f:translate key="tx_courses_domain_model_order.zip" />
</label><br />
	<f:form.textfield property="zip" /><br />
<label for="city">
	<f:translate key="tx_courses_domain_model_order.city" />
</label><br />
	<f:form.textfield property="city" /><br />
<label for="country">
	<f:translate key="tx_courses_domain_model_order.country" />
</label><br />
	<f:form.textfield property="country" /><br />
<label for="nationality">
	<f:translate key="tx_courses_domain_model_order.nationality" />
</label><br />
	<f:form.textfield property="nationality" /><br />
<label for="birthday">
	<f:translate key="tx_courses_domain_model_order.birthday" />
</label><br />
	<f:form.textfield property="birthday" value="{order.birthday->f:format.date()}" /><br />
<label for="passportNumber">
	<f:translate key="tx_courses_domain_model_order.passport_number" />
</label><br />
	<f:form.textfield property="passportNumber" /><br />
<label for="telephone">
	<f:translate key="tx_courses_domain_model_order.telephone" />
</label><br />
	<f:form.textfield property="telephone" /><br />
<label for="email">
	<f:translate key="tx_courses_domain_model_order.email" />
</label><br />
	<f:form.textfield property="email" /><br />
<label for="visaRequired">
	<f:translate key="tx_courses_domain_model_order.visa_required" />
</label><br />
	<f:form.checkbox property="visaRequired" value="1" /><br />
<label for="learnedGerman">
	<f:translate key="tx_courses_domain_model_order.learned_german" />
</label><br />
	<f:form.checkbox property="learnedGerman" value="1" /><br />
<label for="germanLevel">
	<f:translate key="tx_courses_domain_model_order.german_level" />
</label><br />
	<f:form.textfield property="germanLevel" /><br />
<label for="previousCourse">
	<f:translate key="tx_courses_domain_model_order.previous_course" />
</label><br />
	<f:form.checkbox property="previousCourse" value="1" /><br />
<label for="previousCourseLocation">
	<f:translate key="tx_courses_domain_model_order.previous_course_location" />
</label><br />
	<f:form.textfield property="previousCourseLocation" /><br />
<label for="previousCourseYear">
	<f:translate key="tx_courses_domain_model_order.previous_course_year" />
</label><br />
	<f:form.textfield property="previousCourseYear" /><br />
<label for="allergies">
	<f:translate key="tx_courses_domain_model_order.allergies" />
</label><br />
	<f:form.textarea property="allergies" cols="40" rows="15" /><br />
<label for="smoker">
	<f:translate key="tx_courses_domain_model_order.smoker" />
</label><br />
	<f:form.checkbox property="smoker" value="1" /><br />
<label for="comment">
	<f:translate key="tx_courses_domain_model_order.comment" />
</label><br />
	<f:form.textarea property="comment" cols="40" rows="15" /><br />
<label for="correspondenceLanguage">
	<f:translate key="tx_courses_domain_model_order.correspondence_language" />
</label><br />
	<f:form.textfield property="correspondenceLanguage" /><br />
<label for="knownFrom">
	<f:translate key="tx_courses_domain_model_order.known_from" />
</label><br />
	<f:form.textarea property="knownFrom" cols="40" rows="15" /><br />
<label for="paymentType">
	<f:translate key="tx_courses_domain_model_order.payment_type" />
</label><br />
	<f:form.textfield property="paymentType" /><br />
<label for="course">
	<f:translate key="tx_courses_domain_model_order.course" />
</label><br />
	<f:form.textfield property="course" /><br />
<label for="location">
	<f:translate key="tx_courses_domain_model_order.location" />
</label><br />
	<f:form.textfield property="location" /><br />
<label for="accommodation">
	<f:translate key="tx_courses_domain_model_order.accommodation" />
</label><br />
	<f:form.textfield property="accommodation" /><br />
<label for="food">
	<f:translate key="tx_courses_domain_model_order.food" />
</label><br />
	<f:form.textfield property="food" /><br />
<label for="room">
	<f:translate key="tx_courses_domain_model_order.room" />
</label><br />
	<f:form.textfield property="room" /><br />
<label for="transfer">
	<f:translate key="tx_courses_domain_model_order.transfer" />
</label><br />
	<f:form.textfield property="transfer" /><br />
<label for="exam">
	<f:translate key="tx_courses_domain_model_order.exam" />
</label><br />
	<f:form.textfield property="exam" /><br />
<label for="ranges">
	<f:translate key="tx_courses_domain_model_order.ranges" />
</label><br />
	<f:form.textfield property="ranges" /><br />
<label for="price">
	<f:translate key="tx_courses_domain_model_order.price" />
</label><br />
	<f:form.textfield property="price" /><br />
</html>