<div class="alert alert-info">
    <div class="row">
        <div class="col-sm-6">
            <h4>OrderInfo</h4>
            <ul>
                <li>Kurse:{orderInformation.course.title}</li>
                <li>Location:{orderInformation.location.location.title}</li>
                <li>accommodation:{orderInformation.accommodation.accommodation.title}</li>
                <li>transfer:{orderInformation.transfer.transfer.title}</li>
                <li>exam:{orderInformation.exam.exam.title}</li>
                <li>range:{orderInformation.range.value}</li>
            </ul>
        </div>
        <div class="col-sm-6">
            <h4>Preis</h4>
            <f:alias map="{p:orderInformation.priceInformation}">
                <ul>
                    <li>Course: {p.course -> f:format.currency(currencySign:'€')}</li>
                    <li>Accommodation: {p.accommodation -> f:format.currency(currencySign:'€')}</li>
                    <li>Exam: {p.exam -> f:format.currency(currencySign:'€')}</li>
                    <li>Transfer: {p.transfer -> f:format.currency(currencySign:'€')}</li>
                    <li>Discount: {p.discount-> f:format.currency(currencySign:'€')}</li>
                    <li>price total: {orderInformation.price -> f:format.currency(currencySign:'€')}</li>
                </ul>
            </f:alias>
        </div>
    </div>
</div>
